In [1]:
'''
파이썬 모듈

  - date :날짜 관련 모듈
  - time :시간 관련 모듈
  - math :수학 관련 모듈
  - fractions : 분수 관련 모듈
  - decimal : 십진수 관련 모듈
  - random : 난수 관련 모듈
  - file : 파일 관련 모듈
  - os : 운영체제 관련 모듈
  - sys : 파이썬 번역기 관련 모듈
  - threading : 스레드 관련 모듈
  - unittest : 단위테스트 관련 모듈
  - xml : xml문서 파싱 관련 모듈
  - http : http프로토콜 관련 모듈
  - sqlite3 : 데이터베이스 관련 모듈
  ... 
'''
import math;
from _datetime import datetime;

v1 = 131.23;
v2 = math.ceil(v1); # 소수점을 잘라내면서 올림한 정수를 만들어 준다.
print("math.ceil(131.23):{}".format(v2));

math.ceil(131.23):132

In [2]:
import time;
from datetime import date, time, datetime;

print("현재날짜:", date.today());
print("현재:",datetime.now());

현재날짜: 2022-11-09
현재: 2022-11-09 14:12:41.898962

In [3]:
import os;

cpath = os.getcwd(); # 현재 소스파일의 위치값
print("현재 위치:", cpath);

sub_list = os.listdir(cpath);

for ff in sub_list:
    print(ff);

현재 위치: c:\study\pythonTest\work\ex4_module
.project
.pydevproject
am
ex4_module.ipynb
pm

In [4]:
import random;

r = range(1,11);

# 1~10까지의 수들 중 난수 발생
value = random.choice(r);

print("random.choice(range(1,11)):",value);

random.choice(range(1,11)): 5

In [5]:
import random;

# 절대 중복이 안되는 자료구조
lotto = set();

# 위의 set구조가 총 6개가 될 때까지 무한 반복을 해야 한다.
while True:
    value = random.choice(range(1,46));# 1~45까지의 수들 중 난수 발생
    lotto.add(value);
    if len(lotto) == 6: # lotto에 저장된 수가 6일 때 반복문 탈출
        break;

print("lotto:", lotto);

lotto: {36, 41, 10, 12, 13, 23}

In [6]:
'''
xml문서를 메모리상에 생성한 후 실제 문서로 만들어 보자!
<person>
    <name>마루치</name>
    <phone>010-1212-1111</phone>
</person>
'''
import os;
from xml.etree.ElementTree import Element, dump, SubElement, ElementTree;

# 필요한 엘리먼트들 모두 생성
person = Element('person');
name = Element('name');
phone = Element('phone');

# 문자열을 가지는 엘리먼트들에게 문자열 지정
name.text = '마루치';
phone.text = '010-1212-1111';

# 요소(엘리머트)들 배치
person.append(name); # 하위요소 추가
person.append(phone);

# 하위요소 추가하는 다른 방법
SubElement(person, "addr", p_no='08912').text = "서울";

dump(person); #보여주기

# 여기까지는 메모리상에 존재하는 내용이며, 이제 실제로
# 파일로 남겨보자!
cpath = os.getcwd(); # 현재 파일의 위치
fname = "test6.xml"; # 저장할 파일명
ElementTree(person).write(
    cpath+"/"+fname, encoding="UTF-8", xml_declaration=True);

<person><name>마루치</name><phone>010-1212-1111</phone><addr p_no="08912">서울</addr></person>

In [7]:
'''
이 전에서 만든 test6.xml문서를 읽어서 파싱해 보자
'''
import os;
import xml.etree.ElementTree as ET;

cpath = os.getcwd();
fname = "test6.xml";

tree = ET.parse(cpath+"/"+fname); # 파싱!!

root = tree.getroot(); # 루트엘리먼트 가져오기
print("루트명:{}:{}".format(root.tag,root));

for sub in root:
    print("\t"+sub.tag+":"+sub.text);
    for att in sub.attrib: # 해당 요소의 속성들
        print("\t\t"+sub.tag+"속성:"+att+"="+sub.get(att))

루트명:person:<Element 'person' at 0x000001CA8C9684A0>
	name:마루치
	phone:010-1212-1111
	addr:서울
		addr속성:p_no=08912

In [10]:
!python -m pip install xmltodict

Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.13.0

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
'''
pip install xmltodict
'''
import os;
import json;
import xmltodict;
from pkg_resources._vendor.jaraco.text import indent

cpath = os.getcwd();
fname = "test6.xml";

f = open(cpath+"/"+fname, "r", encoding='utf-8');
xmlData = f.read();
f.close();
    
print(xmlData); 

print('JSON으로 변환하기');
jsonData = json.dumps(xmltodict.parse(xmlData), indent=4, ensure_ascii=False);
print(jsonData);

<?xml version='1.0' encoding='UTF-8'?>
<person><name>마루치</name><phone>010-1212-1111</phone><addr p_no="08912">서울</addr></person>
JSON으로 변환하기
{
    "person": {
        "name": "마루치",
        "phone": "010-1212-1111",
        "addr": {
            "@p_no": "08912",
            "#text": "서울"
        }
    }
}

In [13]:
!python -m pip install pandas numpy

Collecting pandas
  Downloading pandas-1.5.1-cp310-cp310-win_amd64.whl (10.4 MB)
     ---------------------------------------- 10.4/10.4 MB 9.1 MB/s eta 0:00:00
Requirement already satisfied: numpy in c:\python310\lib\site-packages (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.5.1

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
'''
Window 판다스 설치
  pip install pandas
  
Mac 판다스 설치
  python3 -m pip install pandas
  
Pandas는 데이터를 수정하고 목적에 맞도록 가공이 가능하도록
제공되는 라이브러리이며, 내부적으로 NumPy를 사용하고 있어서
숫자 데이터들의 연산이 상당히 원활하다.

의미 있는 정보를 추출하는 기술은 최근 들어 매우 주목 받고 있다.

최근들어 분석할 데이터의 양(Volume)이 커지고,
데이터의 입출력 속도(Velocity)가 빨라지고,
데이터의 종류가 다양해(Variety) 지면서 데이터 분석 분야의 주목을 받게 되었다.

Volume, Velocity, Variety의 세 가지 'V'를 가진 데이터를 흔히
'빅 데이터'라고 부른다.

이런 빅데이터들을 분석하는 것이 Pandas다. 그리고 Pandas를 이해하려면
DataFrame을 이해해야 한다.

즉, DataFrame이란 것은 DB로 비유하면 테이블과 같은 의미다.
그러면 테이블은 컬럼들이 있다. 이런 컬럼에 속하는 것이 Pandas에서는
Series라고 한다.
'''
import pandas as pd;

ko = pd.Series([96200, 89700, 94300, 99000]);
print(ko);

0    96200
1    89700
2    94300
3    99000
dtype: int64

In [15]:
import pandas as pd;
from pandas import Series, DataFrame;

ko = Series([96200, 89700, 94300, 99000]);
print(ko);

0    96200
1    89700
2    94300
3    99000
dtype: int64

In [16]:

from pandas import Series, DataFrame;

ko = Series([5000, 2100, 3000, 7500] , 
            index=['02-01','02-02','02-03','02-04']);

print(ko);
print('------- 인덱스들만 추출 --------------');
# 인덱스들만 추출하여 출력하자
for idx in ko.index:
    print(idx);


print('------- 값들만 추출 --------------');
for v1 in ko.values:
    print(v1);

02-01    5000
02-02    2100
02-03    3000
02-04    7500
dtype: int64
------- 인덱스들만 추출 --------------
02-01
02-02
02-03
02-04
------- 값들만 추출 --------------
5000
2100
3000
7500

In [17]:

from pandas import Series, DataFrame;

s1 = Series([20,30,60], index=['olleh', 'kt', 'sk']);
s2 = Series([10,40,50], index=['kt', 'sk', 'olleh']);

hap = s1 + s2;

print(hap);

kt        40
olleh     70
sk       100
dtype: int64

In [18]:
'''
현재 폴더안에 test_data.tsv라는 파일을 하나 만들자
그안에 3개의 컬럼으로 값을 넣어두자!
'''
import pandas as pd;

df = pd.read_csv('test_data.tsv', sep='\t');#열을 탭으로 구분했다.
# sep이 생략되었다면 구분자가 기본적으로 콤마(,)로 구분한다. 그리고
# sep대신에 delimiter라고 해도 된다. (sep == separator라는 뜻)
print(df);
print('---------df.head(2)----------------');
# 위에서 2개( top2 )를 결과로 얻기 위해서는  다음과 같이 기술한다.
print(df.head(2));

print('---------df.tail(2)-------------');
# 밑에서 2개
print(df.tail(2));

print('-------------------------');
print(type(df.year)); # 자료형이 뭔지 알고 싶을 때

   col1  col2  year
0   120   210  2022
1   220   220  2021
2   136   230  2020
3   199   240  2019
---------df.head(2)----------------
   col1  col2  year
0   120   210  2022
1   220   220  2021
---------df.tail(2)-------------
   col1  col2  year
2   136   230  2020
3   199   240  2019
-------------------------
<class 'pandas.core.series.Series'>

In [19]:
'''
한 사람의 정보를 우린 다음과 같이 JSON으로 표현한다.
  {
      'empno':101,
      'name':'마루치',
      'hire_date':'1999-10-01'
  }
'''
import pandas as pd;
from pandas import Series, DataFrame;

emp_list = [
  {'empno':101, 'name':'마루치', 'hire_date':'1999-11-02'},  
  {'empno':102, 'name':'아라치', 'hire_date':'1999-01-12'},  
  {'empno':111, 'name':'을불', 'hire_date':'198-05-25'},  
  {'empno':104, 'name':'창조리', 'hire_date':'1999-10-26'},  
  {'empno':121, 'name':'이도', 'hire_date':'1999-10-30'}    
];

df = DataFrame(emp_list);
print(df);

print('-----------컬럼 순서 변경------------------');
df = df[['name', 'hire_date','empno']];
print(df);

print('-----------리스트로 emp_list 변경------------------');
emp_list = [
    [1001, '일지매', '2000-02-20'],
    [1002, '이지매', '2000-01-09'],
    [1004, '사지매', '2000-04-23'],
    [1003, '삼지매', '2000-11-07']
];

c_name = ['empno', 'ename', 'hdate'];

df = DataFrame.from_records(emp_list, columns=c_name);
print(df);
print('----------- DataFrame에서 행을 선택하는 법 ------------------');
print(df.loc[1]); # 두번 째 행의 정보를 가져온다.
print('----------- DataFrame에서 범위로 행을 선택하는 법 ------------------');
print(df.loc[1:3]); # 두번 째 행부터 네번째 행의 정보를 가져온다.

print('-------- DataFrame의 인덱스로 범위를 지정하여 행을 선택하는 법');
print(df[1:3]);# 인덱스 값으로 행들을 선택할 수 있다. 이때
                # 조심해야하는 것은 3번지가 포함되지 않는다는 것이다.

print('-------- DataFrame의 특정 시리즈에 조건을 지정하여 행을 선택하는 법');
#조건을 부여하여 행들을 선택하는 법
print(df[df.empno > 1003]);
print('-----------------------------------');
print(df.query('empno > 1003'));

print('--- empno가 1002번 이상이고, 입사일이 2000년 3월 이후에 입사한 사원');
print(df[(df.empno >= 1002) & (df.hdate >= '2000-03-01')]);

   empno name   hire_date
0    101  마루치  1999-11-02
1    102  아라치  1999-01-12
2    111   을불   198-05-25
3    104  창조리  1999-10-26
4    121   이도  1999-10-30
-----------컬럼 순서 변경------------------
  name   hire_date  empno
0  마루치  1999-11-02    101
1  아라치  1999-01-12    102
2   을불   198-05-25    111
3  창조리  1999-10-26    104
4   이도  1999-10-30    121
-----------리스트로 emp_list 변경------------------
   empno ename       hdate
0   1001   일지매  2000-02-20
1   1002   이지매  2000-01-09
2   1004   사지매  2000-04-23
3   1003   삼지매  2000-11-07
----------- DataFrame에서 행을 선택하는 법 ------------------
empno          1002
ename           이지매
hdate    2000-01-09
Name: 1, dtype: object
----------- DataFrame에서 범위로 행을 선택하는 법 ------------------
   empno ename       hdate
1   1002   이지매  2000-01-09
2   1004   사지매  2000-04-23
3   1003   삼지매  2000-11-07
-------- DataFrame의 인덱스로 범위를 지정하여 행을 선택하는 법
   empno ename       hdate
1   1002   이지매  2000-01-09
2   1004   사지매  2000-04-23
-------- DataFrame의 특정 시리즈에 조건을 지정하여 행을 선택하는 법
   empno ename       hdate
2   1004   사지매  2000-04-23
-----------------------------------
   empno ename       hdate
2   1004   사지매  2000-04-23
--- empno가 1002번 이상이고, 입사일이 2000년 3월 이후에 입사한 사원
   empno ename       hdate
2   1004   사지매  2000-04-23
3   1003   삼지매  2000-11-07